@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - KhumaloCraft Emporium</title>
    <style>

        body {
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #9df9ef;
            color: #fff;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }

        h1, h2 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            margin-bottom: 20px;
            text-align: center;
        }

        .privacy-policy {
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

            .privacy-policy h2 {
                color: #333;
                margin-bottom: 20px;
            }

            .privacy-policy p {
                color: #666;
                margin-bottom: 20px;
            }

            .privacy-policy strong {
                font-weight: bold;
            }
    </style>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <br />
    <section class="privacy-policy">
        <h2>Overview</h2>
        <p>This Privacy Policy describes how KhumaloCraft Emporium collects, uses, and protects your personal information when you visit our website or interact with us.</p>

        <h2>Information We Collect</h2>
        <p>We may collect various types of information, including:</p>
        <ul>
            Personal identification information (such as name, email address, phone number)<br/>
            Non-personal identification information (such as browser type, IP address, operating system)
        </ul>

        <h2>How We Use Your Information</h2>
        <p>We may use the information we collect for:</p>
        <ul>
            Processing orders and transactions
            <br />
            Improving our products and services
            <br />
            Communicating with you about promotions and updates
        </ul>

        <h2>Information Sharing</h2>
        <p>We do not sell, trade, or rent your personal information to third parties.<br/> However, we may share your information with trusted partners who assist us in operating our website or conducting our business.</p>

        <h2>Security Measures</h2>
        <p>We implement security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction.</p>

        <h2>Changes to This Policy</h2>
        <p>We reserve the right to update or modify this Privacy Policy at any time. We encourage you to review this page periodically for any changes.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us.</p>
        <p><strong>Email:</strong> privacy@khumalocraft.com</p>
    </section>
    <br/><br/>
</body>
</html>
